.dashboard {
  .card.bg-light-subtle .cta-section .btn {
    border: 1px solid #a7a1a1;
    background-color: $white;
  }
  .text-section {
    max-width: 60%;
  }
  .card-box {
    background-color: $white;
  }
  .form-control {
    border: 1px solid #a7a1a1;
    background-color: $white;
  }
}